.btn {
  background-color: #6278f7;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 32px;
  border: none;
  cursor: pointer;
  color: #ffff;

  display: block;
  margin: 32px auto;
}

.btn:hover {
  color: #95ffd4;
}